<form #myForm="ngForm" novalidate (ngSubmit)="handleSubmit(myForm)">
  <pre>{{ myForm.value | json }}</pre>
  <pre>{{ myForm.valid | json }}</pre>
  <div>
    <label for="">ng2 name:</label>
    <input
      type="text"
      placeholder="name"
      name="first"
      required
      [(ngModel)]="firstValue"
    >
    <i>{{ firstValue }}</i>
  </div>
  <div>
    <label for="">Say my name:</label>
    <wc-input
      required
      ngControlName="second"
      name="second"
      [value]="secondValue"
      (change)="handleChange($event)"
      [errorMsg]="'Oh no panic!'"
    ></wc-input>
    <i>{{ secondValue }}</i>
  </div>

  <button class="c-button" type="submit" [disabled]="!myForm.valid">Submit</button>
</form>
