:host{

  /*--color-black: rgb(0,0,0);*/
  /*--color-white: rgb(255,255,255);*/
  /*--card-background-color: @var(--color-white);*/
  /*--card-text-color: @var(--color-black);*/
  /*$card-image-placeholder-color: unquote("rgb(#{$color-accent})") !default;*/
  /*--card-supporting-text-text-color: rgba(#{$color-black}, 0.54)") !default;*/
  /*$card-border-color: rgba(0,0,0,0.1) !default;*/
  /*$card-subtitle-color: unquote("rgba(#{$color-black}, 0.54)") !default;*/


  /*!* Card dimensions *!*/
  /*$card-width: 330px !default;*/
  /*$card-height: 200px !default;*/
  /*$card-font-size: 16px !default;*/
  /*$card-title-font-size: 24px !default;*/
  /*$card-subtitle-font-size: 14px !default;*/
  /*$card-horizontal-padding: 16px !default;*/
  /*$card-vertical-padding: 16px !default;*/

  /*$card-title-perspective-origin-x: 165px !default;*/
  /*$card-title-perspective-origin-y: 56px !default;*/

  /*$card-title-transform-origin-x: 165px !default;*/
  /*$card-title-transform-origin-y: 56px !default;*/

  /*$card-title-text-transform-origin-x: 149px !default;*/
  /*$card-title-text-transform-origin-y: 48px !default;*/

  /*$card-supporting-text-font-size: 1rem !default;*/
  /*$card-supporting-text-line-height: 18px !default;*/

  /*$card-actions-font-size: 16px !default;*/

  /*$card-title-text-font-weight: 300 !default;*/
  /*$card-z-index: 1 !default;*/

  /*!* Cover image *!*/
  /*$card-cover-image-height: 186px !default;*/
  /*$card-background-image-url: '' !default;*/
}



.mdl-card {
  display: flex;
  flex-direction: column;
  /*font-size: @var(--card-font-size);*/
  font-size: 16px;
  font-weight: 400;
  min-height: 200px;
  overflow: hidden;
  width: 330px;
  z-index: 1;
  position: relative;
  background: #fff;
  border-radius: 2px;
  box-sizing: border-box;
}

.mdl-card__media {
  background-color: rgb(255,64,129);
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-origin: padding-box;
  background-attachment: scroll;
  box-sizing: border-box;
}

.mdl-card__title {
  align-items: center;
  color: #000;
  display: block;
  display: flex;
  justify-content: stretch;
  line-height: normal;
  padding: 16px;
  perspective-origin: 165px 56px;
  transform-origin: 165px 56px;
  box-sizing: border-box;
}
.mdl-card__title.mdl-card--border {
  border-bottom: 1px solid rgba(0,0,0,.1)
}
.mdl-card__title-text {
  align-self: flex-end;
  color: inherit;
  display: block;
  display: flex;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  overflow: hidden;
  transform-origin: 149px 48px;
  margin: 0;
}

.mdl-card__subtitle-text {
  font-size: 14px;
  color: rgba(0,0,0,.54);
  margin: 0;
}

.mdl-card__supporting-text {
  color: rgba(0,0,0,.54);
  font-size: 1rem;
  line-height: 18px;
  overflow: hidden;
  padding: 16px;
  width: 90%;
}

.mdl-card__actions {
  font-size: 16px;
  line-height: normal;
  width: 100%;
  background-color: rgba(0,0,0,0);
  padding: 8px;
  box-sizing: border-box;
}
.mdl-card__actions.mdl-card--border{
  border-top: 1px solid rgba(0,0,0,.1)
}

.mdl-card--expand {
  flex-grow: 1;
}


.mdl-card__menu {
  position: absolute;
  right: 16px;
  top: 16px;
}
